<?xml version="1.0"?>
<Menu>
	<item>
		<caption>Home</caption>
		<link>./</link>
		<image></image>
	</item>
	<item>
		<caption>Yacht Destinations</caption>
		<link>/index.php#yacht-destinations</link>
		<image></image>
	</item>
	<item>
		<caption>Articles</caption>
		<link>/boating-articles.php</link>
		<image></image>
	</item>
	<item>
		<caption>Yacht Rental Deals</caption>
		<link>/deals.php</link>
		<image></image>
	</item>
	<item>
		<caption>Yacht NFTs</caption>
		<link>/nft.php</link>
		<image></image>
	</item>
	<item>
		<caption>Contact Us</caption>
		<link>/contact-us.php</link>
		<image></image>
	</item>
	<item>
		<caption>Privacy Policy</caption>
		<link>/privacy-policy.php</link>
		<image></image>
	</item>
</Menu>


