a,
a:hover,
a:focus {
  transition: all 0.4s;
}

/* Side Bar */
.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.4s;
}

#sidebar {
  width: 250px;
  background: #02534D;
  transition: all 0.4s;
  height: 100vh;
  padding:15px;
  box-sizing: border-box;
}

#sidebar.active {
  margin-left: -250px;
}
#sidebar ul li{
  display: block;
  font-size: 36px;
  text-align: center;
}
#sidebar a {
  text-decoration: none;
  color:aliceblue;
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar span{
  font-size: 14px;
  text-align: center;
  display: block;
  color:inherit;
}
#sidebar a:hover{
  color: #262933;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #1b1d24;
}


#content {
  width: 100%;
  /* padding: 20px; */
  min-width: height 100vh;
  transition: all 0.4s;
}


.main-logo{
  width:70px;
}
.bg-custom{
  background-color: #02534D !important;
  color:white;
}
.nav-link{
  color:aliceblue !important;
}